html {
  height: 100dvh;
  width: 100dvw;
  overflow: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
html ::-webkit-scrollbar {
  display: none;
}
body {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  padding: 0;
  margin: 0 auto;
  background: #ffffff;
  background: linear-gradient(
    180deg,
    white 70dvh,
    rgba(208, 208, 208, 1) 100dvh
  );
  background-size: cover;
  width: 100dvw;
  height: 100dvh;
}
h1 {
  text-align: center;
}
.bild {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  margin: 5dvh auto;
}
.Beschreibung {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  max-width: 80vw;
}

nav {
  display: flex;
  justify-content: space-evenly;
  background: linear-gradient(rgb(208, 208, 208), white);
  height: 58px;
  width: 100%;
}

nav a {
  position: center;
  text-decoration: none;
  color: gray;
  size: inherit;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex: 1;
  transition: 0.2s ease-in-out;
}
nav a:hover {
  background: linear-gradient(rgb(230, 230, 230), white);
  transform: scale(1.1);
}
::selection {
  background: rgb(190, 190, 190);
  color: rgb(230, 230, 230);
}

@media (max-width: 1000px) {
  .Beschreibung {
    font-size: 14px;
  }
  #Sade {
    max-width: 60%;
    height: 60%;
  }
}
