body {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  padding: 0;
  margin: 0 auto;
  max-width: 100dvw;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
body ::-webkit-scrollbar {
  display: none;
}
h1 {
  text-align: center;
}
.bild {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  margin: 5dvh auto;
}
.Beschreibung {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  max-width: 80vw;
}

@media (max-width: 1000px) {
  .Beschreibung {
    font-size: 14px;
  }
  #Sade {
    max-width: 60%;
    height: auto;
  }
}
